/* == CloserLook == */
.go-back {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1.3rem;
  color: #0cce99;
}

@media (min-width: 1200px) {
  .go-back {
    position: relative;
  }
}

.content-img {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.content-img-container {
  margin-bottom: 5%;
}

@media (min-width: 1200px) {
  .content-img-container {
    width: 650px;
    display: flex;

    align-items: center;
    margin: initial;
  }
}

@media (min-width: 1200px) {
  .cl-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  }
}

.btn-links {
  display: flex;
  margin-bottom: 5%;
}

.content-text {
  color: white;
}

@media (min-width: 1200px) {
  .content-text {
    width: 40%;
  }
}

.content-text h3 {
  font-size: 2.5rem;
  margin-bottom: 15%;
  text-align: center;
}

@media (min-width: 650px) {
  .content-text h3 {
    font-size: 3.2rem;
  }
}

@media (min-width: 850px) {
  .content-text h3 {
    font-size: 4rem;
  }
}

.content-text p {
  font-size: 1.5rem;
}

@media (min-width: 650px) {
  .content-text p {
    font-size: 2rem;
  }
}

.content-info {
  margin-bottom: 8%;
  padding: 0 5% 0 5%;
}

ul {
  margin: 0 10px 0 10px;
  text-align: center;
}

@media (min-width: 650px) {
  .responsibilities {
    width: 450px;
    margin: 0 auto;
  }
}

li {
  font-size: 1.5rem;
}

@media (min-width: 650px) {
  li {
    font-size: 1.8rem;
  }
}

.cl-span {
  font-size: 2rem;
  font-style: oblique;
  letter-spacing: 0.08rem;
}

@media (min-width: 650px) {
  .cl-span {
    font-size: 2.5rem;
  }
}

.btn-links {
  display: flex;
  justify-content: space-around;
}

.btn-links div {
  border-radius: 10px;
  background-color: #0cce99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 45px;
}
/* == CloserLook End == */
