/* == Skill == */

.skill-section-container {
  margin-top: 20%;
  padding-top: 15%;
}

@media (min-width: 1200px) {
  .skill-section-container {
    margin-top: 10%;
    padding-top: 5%;
  }
}

.graph-container {
  height: 400px;
  margin: 5%;
}

@media (min-width: 850px) {
  .graph-container {
    width: 50%;
  }
}

@media (min-width: 850px) {
  .skill-content-container {
    display: flex;
  }
}

.sc-skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sc-check-and-text-container {
  margin: 3% 0 3% 0;
  display: flex;
  justify-content: space-evenly;
  width: 35%;
}

.sc-check-and-text-container p {
  margin-left: 2%;
  display: flex;
  align-items: center;
}

@media (min-width: 850px) {
  .slice-container {
    width: 50%;
  }
}

.slice-container h6 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 10%;
  color: #f8f6f5;
}

.slice-container p {
  font-size: 1.8rem;
  text-align: center;
  color: #f8f6f5;
}

.starter-graph-text {
  padding: 2%;
}

/* == Skill End == */
