* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #151823;
  behavior: smooth;
}

/* == MobileNav == */

/* Closed */
.mobile-nav-container {
  position: relative;
}

.closed-nav-container {
  display: flex;
  margin-top: 2%;
}

.svg-container {
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f2436;
  width: 35px;
  height: 35px;
  margin-top: 12px;
  border-radius: 8px;
}

.img-container {
  width: 65px;
  margin-left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 100px;
  border: solid 2px #f8f6f5;
}

/* Closed End */

/* Open */

#social {
  transition: 3s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1b4a79;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.anchors {
  padding: 3% 3% 3% 30%;
  text-decoration: none;
  font-size: 2rem;
  color: #f8f6f5;
  display: block;
  transition: 0.1s;
  background-color: #1b4a79;
}

.img-container-open {
  width: 80px;
  margin-left: 30%;
  margin-bottom: 25%;
  background-color: #1b4a79;
}

.img-open {
  border-radius: 100px;
  border: solid 2px #151823;
}

.svg-container-open {
  margin-left: 80%;
  margin-right: 5%;
  margin-top: -31px;
  background: #151823;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.mobile-contact-container {
  margin-top: 30%;
  background-color: #1b4a79;
  margin-left: 10%;
  border: solid 2px #151823;
  padding: 3% 0px 3% 0%;
  font-size: 1.5rem;
  color: #fdfdfd;
  background-color: #0ec3f0;
  display: block;
  transition: 0.3s;
  width: 75%;
  border-radius: 10px;
  text-align: center;
}

.mobile-contact-container:hover {
  background: #0cce99;
  border: solid 2px #4875de;
}

.mobile-contact-anchor {
  text-decoration: none;
  color: #f8f6f5;
}

/* Open End */

/* == MobileNav End == */

/* == Home == */

.home-container {
  padding: 40% 0 30% 0;
}

.main-header {
  text-align: center;
}

.main-header h1 {
  font-size: 4rem;
  padding: 10px 0px 10px 0px;
  color: #f8f6f5;
}

.main-header h3 {
  font-size: 2.5rem;
  transition: 0.3s;
}

.sub-header {
  margin-top: 15%;
  text-align: center;
  font-size: 1.1rem;
  color: #f8f6f5;
}

.get-started-btn {
  margin-top: 18%;
  text-align: center;
}

.btn {
  background-color: #ec9900;
  background-image: linear-gradient(147deg, #ec9900 0%, #ff2525 74%);
  width: 50%;
  padding: 13px 3px 13px 3px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #f8f6f5;
}

/* == Home End == */

/* == SoftwareEngineer == */

.inf-animate {
  animation-iteration-count: infinite;
}

.software-text,
.engineer-text {
  display: flex;
  padding-left: 8px;
  text-align: center;
  margin: 0 auto;
}

.test {
  display: flex;
}

.software-engineer-animation-container {
  display: flex;
  justify-content: center;
}

.animate {
  color: #4875de;
}

/* == SoftwareEngineer End == */

/* == AboutMe == */

.section-heading {
  width: 75%;
  font-size: 2rem;
  text-align: center;
  margin: 0 0 10% 12.5%;
  color: #f8f6f5;
}

.about-me-container {
  margin-top: 20%;
  padding-top: 15%;
}

.about-me-img-container {
  margin: 5px;
  padding: 15px;
}

.about-me-img {
  border-radius: 10px;
}

.about-me-paragraph-container {
  margin: 5px;
  padding: 15px;
  margin-bottom: 15%;
}

.about-me-paragraph-container p {
  font-size: 1.5rem;
  text-align: center;
  color: #f8f6f5;
}

/* == AboutMe End == */

/* == Skill == */

.skill-section-container {
  margin-top: 20%;
  padding-top: 15%;
}

.graph-container {
  height: 400px;
  margin: 5%;
}

.slice-container {
  margin: 5%;
  transition: 9s;
  transition-timing-function: ease-in;
}

.slice-container h6 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 10%;
  color: #f8f6f5;
}

.slice-container p {
  font-size: 1.5rem;
  text-align: center;
  color: #f8f6f5;
}

.graph-btn {
  margin-top: 10%;
  border: solid 1px black;
  width: 50%;
  margin-left: 24%;
  padding: 5px 0 5px 0;
  border-radius: 10px;
  font-size: 1.5rem;
}

/* == Skill End == */

/* == Project List  == */

.project-container {
  margin-top: 20%;
  padding-top: 15%;
}

/* == Project List End  == */

/* == Project Card  == */

.card-container {
  margin: 10% 5% 10% 5%;
  border: solid 1px #1f2436;
  background: #1f2436;
  border-radius: 10px;
}

.card-container h6 {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  color: #f8f6f5;
}

.card-img-container {
  padding: 5% 4% 5% 4%;
}

.card-img {
  border-radius: 10px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text-content-container {
  padding: 0% 3% 0% 3%;
}

.card-btn-container {
  display: flex;
  justify-content: space-between;
  padding: 2% 0% 5% 0%;
}

.card-btn {
  width: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 5px 6px 5px 6px;
  background: #0cce99;
}

/* == Project Card End == */

/* == Social == */

.social-container {
  margin-top: 20%;
}

.social-container h5 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15%;
  color: #f8f6f5;
}

.social-card-container {
  display: flex;
  background-color: #1f2436;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 25px;
}

.social-img-container {
  height: 90px;
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 65px;
}

.linkedin {
  background-color: #0e76a8;
}

.github {
  background-color: #333;
}

.email {
  background-color: #b23121;
}

.social-text-content-container {
  margin-left: 25px;
  height: 90px;
  width: 100%;
}

.social-text-content-container h6 {
  font-size: 1.8rem;
  margin: 10px 0 5px 0;
  color: #f8f6f5;
}

.social-text-content-container p {
  font-size: 1.5rem;
  padding: "10%";
  color: #f8f6f5;
}

/* == Social End == */

/* == CloserLook == */
.go-back {
  display: flex;
  align-items: center;
  position: absolute;
  color: grey;
  font-size: 1.3rem;
}
/* == CloserLook End == */
