* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #151823;
  behavior: smooth;
}

a {
  text-decoration: none;
}

.headroom {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 250ms linear;
}

/* port sections */
.port-sections{
  min-width: 350px;
  max-width: 1350px;
  margin:0 auto;
}
