/* == AboutMe == */

/* Whole about me section*/

.about-me-container {
  margin-top: 20%;
  padding-top: 15%;
}

@media (min-width: 750px) {
  .about-me-container {
    margin-top: 5%;
    padding-top: 10%;
  }
}

@media (min-width: 1200px) {
  .about-me-container {
    margin-top: 5%;
    padding-top: 5%;
  }
}

/* section heading */
.section-heading {
  width: 75%;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10% 12.5%;
  color: #f8f6f5;
  letter-spacing: 1px;
}

/* content container - excluding section heading */
.about-me-content-container {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 750px) {
  .about-me-content-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 2% 0 2%;
  }
}

/* img container */
.about-me-img-container {
  margin: 0 auto;
  width: 400px;
  padding: 5%;
}

@media (min-width: 750px) {
  .about-me-img-container {
    width: 1500px;
    display: flex;
    align-items: flex-start;
  }
}

/* img */
.about-me-img {
  border-radius: 10px;
}

/* about me paragraph container */
.about-me-paragraph-container {
  padding: 0 30px;
}

.about-me-paragraph-container a {
  color: #4875de;
}

.about-me-paragraph-container a:hover {
  color: #6087e2;
}

@media (min-width: 750px) {
  .about-me-paragraph-container {
    margin: 0;
    color: #f8f6f5;
    padding: 2%;
  }
}

.about-me-paragraph-container p {
  font-size: 1.8rem;
  color: #f8f6f5;
}

/* recent technology container */
.technologies {
  padding: 0 30px;
}

@media (min-width: 750px) {
  .technologies {
    padding: 2%;
  }
}

.technologies p {
  font-size: 1.8rem;
  color: #f8f6f5;
  margin-bottom: 5%;
}

/* skills container */
.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  font-size: 1.8rem;
  margin: 5px 0;
  color: #f8f6f5;
  width: 45%;
  display: flex;
  font-style: italic;
}

/* == AboutMe End == */
