/* == Project List  == */

.project-container {
  margin-top: 20%;
  padding-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (min-width: 1200px) {
  .project-container {
    margin-top: 5%;
    padding-top: 5%;
  }
}

/* == Project List End  == */
