/* == SoftwareEngineer == */

.inf-animate {
  animation-iteration-count: infinite;
}

.software-text,
.engineer-text {
  display: flex;
  padding-left: 8px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .software-text {
    padding: 0;
  }
}

.test {
  display: flex;
}

.software-engineer-animation-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px) {
  .software-engineer-animation-container {
    justify-content: start;
  }
}

.animate {
  color: #4875de;
}

/* == SoftwareEngineer End == */
